* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
   padding: 10px;
    background-color: rgb(255, 255, 255);
    overflow:auto;
    margin: 0;
     
}

.container{
    /* border: 2px solid rgb(27, 113, 3); */
   /* display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto; */
    
}

.gray{
    background-color: rgb(166, 160, 160);
   
}

.yellow{
    display: grid;
    justify-items:start;
    align-items:center;
    background-color: rgb(254, 234, 183);
    height: 35%;
    
}

.blue{
    border: 2px solid rgb(27, 113, 3);
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: auto;
    background-color: rgb(110, 245, 255);
    
}

ul{
    margin-left: 35px;
}


@media (max-width: 1000px){




 .gray {
     
     width: 70%;
     height: 100%;
     grid-row: 2;
       
  } 

  .blue{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    width: 100%;
    height: 100%;
    
  }

.yellow{
    width: 30%;
    height: 100%;
    grid-row: 1;
    align-items: center;


    /* .container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% auto;
      }
      
      .gray {
        
        grid-row: 2; 
        
      }
 
    .blue{
        display: grid;
        align-items:center;
    }

    li{
        display: inline;
    } */

    }

    ul{
        width: auto;
        height: auto;
    }
}