* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
   padding: 10px;
    background-color: rgb(255, 255, 255);
    overflow:auto;
    margin: 0;
     
}

main{
    display: flex;
    margin:auto;
    
}

.big{
    background-color: gray;
    /* display: flex; */
    
    width: 80%;
    flex-direction: column;
    height: 100%;
    
}

.yellow{
    display: flex;
  background-color: rgb(255, 225, 128); 
  width: 100%;
  height: 30%;
  max-height: 200px;
  padding: 30px;
  padding-top: 40px;

  
  
}

.blue{
background-color:aqua;
width: 100%;
height: 70%;
max-height: 100%;
flex: 1;

}

.yandb{
    flex-direction: column;
    display: flex;
    width: 20%;
   
    
}




